*{
    padding: 0;
    margin:0;
}
header{
  
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    
    
}
header ul{
    list-style: none;
  align-items: center;
    
}
ul li{
    display: inline-flex;
    padding: 20px;
    font-weight: 100;
    
}
ul li a{
    
    text-decoration: none;
}
header .logo img{
    width:80px;
    align-items: center;
   
}
.logo{
    display: flex;
    padding: 20px;
}
ul{
    display: flex;
}
ul li:hover{
    background-color: rgb(40, 37, 223);
    text-decoration: none;
    cursor: pointer;
    color: white;
    
}

ul li a:hover{
    color: white;
}
li img:hover{
    background-color: white;
}
